/* ===== SIDEBAR ===== */
.student-sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.student-sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.student-sidebar__logo {
  height: 200px;
  width: 200px;
}

.student-sidebar__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.student-sidebar__link {
  padding: 0.7rem 2rem;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  color: #5b6066;
  font-weight: 500;
  display: block;
}

.student-sidebar__link.active {
  border-right: 0.3rem solid #3ec5f0;
  background-color: #46c3ee25;
  color: #3ec5f0;
}

.student-sidebar__link:hover {
  color: #3ec5f0;
}

.student-sidebar__link span {
  margin-left: 0.6rem;
}

.student-sidebar__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.student-sidebar__account {
  background-color: #3ec5f0;
  padding: 0.5rem 0rem;
  border-radius: 6px;
}

.student-sidebar__account p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 0;
}

/* ===== Main Section ===== */
.student-main {
  min-height: calc(100vh - 50px);
  margin-left: 240px;
  margin-top: 50px;
  padding: 1rem 2rem 1rem 4rem;
  /* ===== student information ===== */
  /* ===== student's marks table ===== */
}

.student-main__information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.student-main__information .student-avatar img {
  width: 80px;
  height: 80px;
}

.student-main__information .student-info-main {
  margin: 0 1rem;
}

.student-main__information .student-info-main h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.4rem;
  font-weight: 600;
}

.student-main__information .student-info-main p {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.student-main__information .student-info-second {
  margin-left: 3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, -webkit-max-content));
  grid-template-columns: repeat(2, minmax(280px, max-content));
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 0.3rem;
}

.student-main__information .student-info-second p {
  font-size: 1.1rem;
}

.student-main__information .student-info-second p span {
  font-weight: 500;
  font-size: 1.1rem;
}

.student-main__table .student-table-wrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  margin-top: 4rem;
  margin-right: 2rem;
  /** table header **/
  /** table content **/
  /** table footer **/
}

.student-main__table .student-table-wrapper .student-table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  /** table actions **/
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2rem;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-summary__gpa
  p,
.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-summary__subjects
  p {
  font-size: 1.1rem;
  font-style: italic;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-summary__gpa
  p
  span,
.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-summary__subjects
  p
  span {
  font-weight: 600;
  font-style: normal;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-summary__gpa {
  margin-right: 4rem;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input {
  width: 15rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 0.2rem;
  margin-right: 1rem;
  border-radius: 7px;
  color: #5b6066;
  padding: 0.5rem 0.75rem;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input::-webkit-input-placeholder {
  color: #8391a2;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input:-ms-input-placeholder {
  color: #8391a2;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input::-ms-input-placeholder {
  color: #8391a2;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input::placeholder {
  color: #8391a2;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input:hover,
.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  input:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  i {
  color: #5b6066;
  font-size: 1rem;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  button {
  width: 40px;
  height: 34px;
  outline: none;
  border: none;
  border-radius: 7px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.student-main__table
  .student-table-wrapper
  .student-table-header
  .student-table-header__actions
  .student-table-search__wrapper
  button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.student-main__table .student-table-wrapper .student-table-container table {
  border-collapse: collapse;
  width: 100%;
}

.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  thead {
  background: #efefef;
  text-align: left;
}

.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  tbody
  tr:hover {
  background-color: rgba(70, 195, 238, 0.145);
  cursor: pointer;
}

.student-main__table .student-table-wrapper .student-table-container table tr {
  height: 40px;
}

.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  tr:nth-child(even) {
  background: #f9fafc;
}

.student-main__table .student-table-wrapper .student-table-container table td,
.student-main__table .student-table-wrapper .student-table-container table th {
  padding: 0 1rem;
  text-align: center;
  border: none;
}

.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  td:last-child,
.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  th:last-child {
  width: 40%;
}

.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  td:nth-child(2),
.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  th:nth-child(2) {
  padding-left: 20%;
  text-align: left;
}

.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  td:first-child,
.student-main__table
  .student-table-wrapper
  .student-table-container
  table
  th:first-child {
  width: 8%;
}

.student-main__table .student-table-wrapper .student-table-footer {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2rem;
}

.student-main__table .student-table-wrapper .student-table-footer p {
  font-size: 1rem;
}

.student-table-footer__actions button {
  outline: none;
  border: none;
  background: transparent;
  color: #3ec6f0a6;
  margin-left: 2rem;
}

.student-table-footer__actions button:disabled {
  color: #aaaaaa;
}

.student-table-footer__actions button:not(:disabled) {
  cursor: pointer;
}

.student-table-footer__actions button:not(:disabled):hover {
  color: #3ec6f0;
}

.student-table-footer__actions i {
  font-size: 1.1rem;
}

.table-no-row {
  text-align: center;
}
