.update-form-button__ok {
  color: #3ec5f0 !important;
}

.update-form-button__ok:hover {
  background-color: #3ec6f02f !important;
}

.update-form-button__cancel {
  color: #8391a2 !important;
}

.error {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  height: 22px;
}

.error p {
  color: red;
  text-align: end;
  margin: 0;
  font-size: 0.8rem;
}
