/* ===== Header section ===== */
.header {
  position: fixed;
  top: 0;
  left: 240px;
  z-index: 100;
  height: 50px;
  width: calc(100% - 240px);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.header-title {
  text-align: center;
}

.header-title h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f1f1f;
}

.header-info {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  color: #1f1f1f;
}

.header-info i {
  font-size: 1.3rem;
}

.header-info span {
  font-size: 1.1rem;
  margin-left: .5rem;
  font-weight: 500;
}
