.form-control {
  display: grid;
  grid-template-columns: 30% 1fr 20px;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 500px;
}

.form-control label {
  font-weight: 500;
}

.form-radio-group {
  flex-direction: row !important;
  align-items: center !important;
}

.input-label__focus {
  color: #3ec6f0 !important;
}
.input-wapper {
  border-width: 2px;
}
.input-wrapper__focus .input-wapper {
  border-color: #3ec6f0 !important;
}

.select {
  padding-top: 10.5px !important;
  padding-bottom: 10.5px !important;
}

.status-success {
  margin: 0;
  color: #55aa00;
}
.status-failed {
  margin: 0;
  color: #ca3435;
}
