/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #141414;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f1f5f9;
  font-family: 'Poppins', sans-serif;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo {
  height: 200px;
  width: 200px;
}

.sidebar-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-link {
  padding: 0.7rem 2rem;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  color: #5b6066;
  font-weight: 500;
  display: block;
}

.sidebar-link.active {
  border-right: 0.3rem solid #3ec5f0;
  background-color: #46c3ee25;
  color: #3ec5f0;
}

.sidebar-link:hover {
  color: #3ec5f0;
}

.sidebar-link span {
  margin-left: 0.6rem;
}

.sidebar-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.student-sidebar__account {
  background-color: #3ec5f0;
  padding: 0.5rem 0rem;
  border-radius: 6px;
}

.student-sidebar__account p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 0;
}
