/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #141414;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f1f5f9;
}

.backdrop {
  z-index: 200 !important;
}

.loading {
  color: #3ec6f0 !important;
}
