.post-detail__comment {
  margin-bottom: 1rem;
  border-bottom: 1px solid #bfcdd1;
}
.post-detail_comment-account {
  display: flex;
  align-items: center;
}
.post-detail__comment-account-img {
  width: 28px;
  height: 28px;
}
.post-detail__comment-account-name {
  margin-left: 0.4rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.post-detail__coment-divider {
  margin: 0 0.5rem;
}
.post-detail__comment-time {
  font-size: 0.8rem;
  color: #8b8b8b;
}
.post-detail__comment-content {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
.post-detail__comment-text {
  font-size: 0.9rem;
}
