.post-detail__new-comment {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
}
.post-detail__avatar {
  width: 30px;
  height: 30px;
}
.post-detail__new-input {
  margin-left: 0.5rem;
  outline: none;
  border: none;
  height: 38px;
  padding: 0rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
}
.post-detail__new-input::placeholder {
  font-size: 0.9rem;
}
.post-detail__new-btn {
  margin-left: 0.5rem;
  height: 38px;
  width: 38px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.post-detail__new-btn i {
  color: #3ec5f0;
}
