.post-item-container {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 1.2rem 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 150ms all ease-in-out;
}
.post-item-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.post-item__body {
  min-height: 120px;
}
.post-item__body-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.post-item__divider {
  border-bottom: 2px solid #c2c2c2;
}
.post-item__footer {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
}
.post-item__author {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.post-item__author-img {
  width: 25px;
  height: 25px;
}
.post-item-text {
  font-weight: 500;
  font-size: 0.9rem;
  color: #808080;
}
.post-item__author-name {
  margin-left: 0.4rem;
}
.post-item__date {
  margin-right: 3rem;
}
.post-item__comment {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}
.post-item__comment i {
  color: #808080;
}
.post-item__comment-count {
  margin-left: 0.3rem;
}
