/* ===== Post detail section ===== */
.post-detail__post {
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  min-height: 200px;
}
.post-detail__author {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
.post-detail__author-img {
  width: 35px;
  height: 35px;
}
.post-detail__info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.post-detail__author-name {
  font-weight: 600;
  font-size: 1rem;
}
.post-detail__info-time {
  font-size: 0.8rem;
  color: #8b8b8b;
  line-height: 100%;
}
.post-detail__divider {
  border-bottom: 1px solid #bfcdd1;
}
.post-detail__post-body {
  margin-top: 1.2rem;
}
.post-detail__post-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.post-detail__post-content {
  margin-top: 1rem;
}
