/* ===== Topic list section ===== */
.list-topics-section {
  height: 100%;
}
.list-topics-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list-topics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.list-topics-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.list-topics-body {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 0.5rem 0rem;
  overflow-y: auto;
  margin-top: 0.5rem;
  padding-top: 1rem;
}
