.topic-item {
  margin-bottom: 0.5rem;
}
.topic-item-container {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.3rem;
  cursor: pointer;
}
.topic-item-container:hover {
  background-color: #46c3ee25;
}
.topic-item-img {
  width: 32px;
  height: 32px;
}
.topic-item-body {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
}
.topic-item-body__name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 0.2rem;
}
.topic-item-body__post {
  font-size: 0.7rem;
  line-height: 100%;
  color: #686868;
}
