.all-topics-container {
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 35% auto;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  margin-bottom: 1.4rem;
  cursor: pointer;
  transition: 150ms all ease-in-out;
}
.all-topics-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.all-topics-container__left {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding-right: 2rem;
  border-right: 2px solid #d2d4d6;
  /* border-right: 2px solid #46c4ee; */
}
.all-topics-name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 1rem;
}
.all-topics-img {
  width: 80px;
  height: 80px;
}
.all-topics-container__right {
  width: 100%;
  margin-left: 1rem;
}
.topic-right__row-top {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  column-gap: 15rem;
  grid-template-areas:
    'post activity'
    'post-content activity-content';
  padding-bottom: 0.5rem;
}
.topic-right-title {
  font-weight: 600;
  font-size: 1.1rem;
}
.topic-right-content {
  font-size: 0.9rem;
  color: #5e5e5e;
}
.topic-right__post {
  grid-area: post;
}
.topic-right__post-content {
  grid-area: post-content;
}
.topic-right__people {
  grid-area: people;
}
.topic-right__people-content {
  grid-area: people-content;
}
.topic-right__activity {
  grid-area: activity;
}
.topic-right__activity-content {
  grid-area: activity-content;
}
.all-topics-divider {
  border-bottom: 2px solid #d2d4d6;
}
.topic-right-row-bottom {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}
.topic-right__last-post-content {
  max-width: 60%;
}
