/* ===== Main Section ===== */
.main {
  min-height: calc(100vh - 50px);
  margin-left: 240px;
  margin-top: 50px;
  padding: 2rem 2rem 0rem 2rem;
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 0.5rem;
}

/* ===== Chat Section ===== */
.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* ===== Chat header ===== */
.chat__header {
  display: flex;
  align-items: center;
  height: 40px;
}
.chat__header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.chat__header-avatar-name {
  font-weight: 600;
  font-size: 1.2rem;
}
.chat__header-avatar-status {
  width: 13px;
  height: 13px;
  background-color: chartreuse;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.chat__header-info {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.chat__header-info-name {
  font-size: 1rem;
  line-height: 100%;
}
.chat__header-info-status {
  line-height: 100%;
  font-size: 0.8rem;
  color: #5b6066;
  margin-top: .1rem;
}
/* ===== Chat body ===== */
.chat__body {
  height: 100%;
  margin-top: 0.6rem;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  display: grid;
  grid-template-rows: 1fr max-content;
}
.chat__body-content {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chat__body-content-row {
  margin-bottom: 0.2rem;
}
.chat__body-content-row span {
  font-size: 0.9rem;
}
.chat__body-receiver {
  display: flex;
  align-items: center;
}
.chat__body-content-receiver-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #3ec5f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat__body-content-receiver-avatar-name {
  font-weight: 600;
  font-size: 0.9rem;
}
.chat__body-content-receiver-msg {
  margin-left: 0.5rem;
  background-color: rgb(228, 230, 235);
  border-radius: 20px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0px 1rem;
}
.chat__body-sender {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.chat__body-content-sender-msg {
  margin-left: 0.5rem;
  background-color: rgb(228, 230, 235);
  border-radius: 20px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0px 1rem;
}
/* ===== Chat options ===== */
.chat__body-options {
  margin: 0.5rem 0rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 1rem;
  align-items: center;
}
.chat__body-options-input {
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgb(240, 242, 245);
  padding-left: 1rem;
  font-size: 0.95rem;
}
.chat__body-options-submit {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(240, 242, 245);
  color: aqua;
  cursor: pointer;
  transition: all .1s ease-in;
}
.chat__body-options-submit:hover {
  background-color: rgb(187, 187, 187);
}
.chat__body-options-submit i {
  font-size: 1rem;
}

/* ===== People list section ===== */
.people-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.people__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.people__header-title {
  height: 40px;
  display: flex;
  align-items: flex-end;
}
.people__header p {
  font-size: 1.2rem;
  font-weight: 600;
}
.people__header-btn-add {
  width: 34px;
  height: 34px;
  background-color: #46c4ee70;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(39, 39, 39);
  transition: all .2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people__header-btn-add:hover {
  background-color: #46c4ee;
}
.people__body {
  margin-top: 0.6rem;
  background-color: white;
  height: 100%;
  border-radius: 10px;
  padding: .5rem 0rem;
  overflow-y: auto;
}
.people__body-row {
  margin-bottom: .2rem;
  cursor: pointer;
  padding: .5rem 1rem;
}
.people__body-row:hover {
  background-color: #46c3ee25;
  
}
.people__body-wrapper {
  display: flex;
  align-items: center;
}
.people__body-avatar {
  width: 35px;
  height: 35px;
  background-color: darkturquoise;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-right: 0.5rem;
  position: relative;
}
.people__body-avatar-status {
  width: 12px;
  height: 12px;
  background-color: chartreuse;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -1px;
  right: -1px;
}
.people__body-info {
  display: flex;
  flex-direction: column;
}
.people__body-info-name {
  line-height: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.people__body-info-status {
  line-height: 100%;
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: #5b6066;
}
