/* ===== Main Section ===== */
.main {
  min-height: calc(100vh - 50px);
  margin-left: 240px;
  margin-top: 50px;
  padding: 2rem 2rem 0rem 2rem;
  display: grid;
  grid-template-columns: 80% auto;
  column-gap: 1.5rem;
}

/* ===== All topics section ===== */
.all-topics__header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.all-topics__header-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.all-topics-body {
  overflow-y: auto;
}
