/* ===== Main Section ===== */
.main {
  min-height: calc(100vh - 50px);
  margin-left: 240px;
  margin-top: 50px;
  padding: 2rem 2rem 0rem 2rem;
  display: grid;
  grid-template-columns: 75% auto;
  column-gap: 1.5rem;
}

.post-detail__avatar {
  width: 30px;
  height: 30px;
}
.post-detail__comments {
  margin-top: 1.5rem;
}

.post-detail__list-comments {
  margin-top: 1.5rem;
}
.post-detail__comments-summary {
  margin-bottom: 0.3rem;
}
.post-detail__comments-count {
  font-size: 1rem;
  font-weight: 500;
}
.post-detail__comments-divider {
  border-bottom: 1px solid #bfcdd1;
}
.post-detail__comments-list {
  margin-top: 1rem;
}