
/* ===== Main Section ===== */
.main {
  min-height: calc(100vh - 50px);
  margin-left: 240px;
  margin-top: 50px;
  padding: 2rem 2rem 0rem 2rem;
  display: grid;
  grid-template-columns: 80% auto;
  column-gap: 1.5rem;
}

/* ===== All posts section ===== */
.all-posts__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.all-posts__header-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.all-posts__header-btn-add {
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  transition: 100ms all ease-in;
}
.all-posts__header-btn-add:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* .all-posts-body {
  overflow-y: auto;
} */
