.dialog {
  min-width: 400px;
}
.title-success {
  color: #279b37;
}
.title-failed {
  color: red;
}
.content {
  color: #000 !important;
  font-size: 1.1rem !important;
  margin-bottom: 0.5rem !important;
}

.content span {
  font-size: 1.2rem !important;
  color: #3ec6f0 !important;
  font-weight: 600 !important;
}

.button-ok {
  width: 80px;
}

.button-ok:hover {
  background-color: #3ec6f041 !important;
}
