/* ===== TABLE ===== */
.student-management-table-wrapper {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
}

.student-management-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-management-table-header h3 {
  margin: 1rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: #8391a2;
}

.student-management-table-header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-management-table-header__actions .button-add {
  margin-right: 2rem;
  width: 90px;
  height: 34px;
  border-radius: 7px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 100ms ease-out;
  color: #5b6066;
  font-size: 1rem;
}

.student-management-table-header__actions .button-add:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
}

.student-management-table-search__wrapper input {
  width: 15rem;
  height: 34px;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 0.2rem;
  margin-right: 1rem;
  border-radius: 7px;
  color: #5b6066;
  padding: 0.5rem 0.75rem;
  transition: all 100ms ease-out;
}

.student-management-table-search__wrapper input::-webkit-input-placeholder,
.student-management-table-search__wrapper
  input::-moz-placeholder
  .student-management-table-search__wrapper
  input::placeholder {
  color: #8391a2;
}

.student-management-table-search__wrapper input:hover,
.student-management-table-search__wrapper input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
}

.student-management-table-search__wrapper i {
  color: #5b6066;
  font-size: 1rem;
}

.student-management-table-search__wrapper button {
  width: 40px;
  height: 34px;
  outline: none;
  border: none;
  border-radius: 7px;
  background: transparent;
  cursor: pointer;
  transition: all 100ms ease-out;
}

.student-management-table-search__wrapper button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
}

.student-management-table-container {
  overflow: auto;
}

.student-management-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.student-management-table thead {
  background: #efefef;
  text-align: left;
}

.student-management-table th,
.student-management-table td {
  padding: 1rem;
  color: #1d2231;
  border: none;
}
.student-management-table th:first-child,
.student-management-table td:first-child {
  width: 10%;
  padding-left: 1.5rem;
}

.student-management-table th:last-child {
  width: 10%;
  text-align: center;
}

.student-management-table tbody tr:nth-child(even) {
  background: #f9fafc;
}

.student-management-table tbody tr:hover {
  background-color: rgba(70, 195, 238, 0.145);
  cursor: pointer;
}

.student-management-table-actions {
  width: 5%;
  text-align: center;
}

.student-management-table-actions__button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #5b6066;
}

.student-management-table-actions__button i {
  font-size: 1rem;
}

.student-management-table-no-row {
  text-align: center;
}

.student-management-table-footer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}

.student-management-table-footer__info {
  font-size: 1rem;
  margin: 0;
}

.student-management-table-footer__actions button {
  outline: none;
  border: none;
  background: transparent;
  color: #3ec6f0a6;
  margin-left: 2rem;
}

.student-management-table-footer__actions button:disabled {
  color: #aaaaaa;
}

.student-management-table-footer__actions button:not(:disabled) {
  cursor: pointer;
}

.student-management-table-footer__actions button:not(:disabled):hover {
  color: #c9ecf7;
}

.student-management-table-footer__actions i {
  font-size: 1.1rem;
}
