/* ===== Login section ===== */
.login {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* ===== Login left section ===== */
.login__left {
  height: min-content;
  justify-self: center;
  transform: translateY(30%);
}
.login__form {
  background-color: #f2f2f2;
  padding: 2rem 1rem 0.4rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
}
.login__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.login__box {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.login__icon {
  font-size: 1.5rem;
  color: #3ec5f0;
}
.login__input {
  border: none;
  outline: none;
  width: 280px;
  font-size: 1rem;
  font-weight: 600;
}
.login__input::placeholder {
  font-size: 1rem;
  color: #a49eac;
}
.login__options {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__roles label {
  font-size: 1rem;
  font-weight: 600;
  color: #a49eac;
}
.login__roles select {
  outline: none;
  border: none;
  margin-left: 0.3rem;
  padding-left: 0.3rem;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(102, 102, 102);
  font-size: 0.9em;
  /* box-shadow: 0 2px 6px rgba(35, 0, 77, 0.048); */
}

.login__forgot {
  width: max-content;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #a49eac;
}
.login__button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.9rem 1rem;
  margin: 2rem 0;
  background-color: #3ec5f0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.login__button:hover {
  background-color: #2e84d9;
}

/* ===== Login right section ===== */
.login__right {
  height: 100vh;
  background-color: #3ec6f0;
  display: flex;
  justify-content: center;
}

.login__right img {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 6px 10px rgba(35, 0, 77, 0.2);
  align-self: center;
  transform: translateY(-2rem);
}
