.teacherInfo {
  margin-bottom: 40px;
}

.infoGroup {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.infoContent {
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.infoLabel {
  margin: 0px;
  margin-right: 10px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}

.infoCard {
  margin: 40px;
  padding: 0px;
  border-radius: 40px;
  /* background-color: rgb(211, 211, 211, 0.4); */
  background-color: lightyellow;
}

.classInfo {
  margin-bottom: 40px;
  margin-top: 40px;
}

.classTable {
  width: 100%;
  padding: 40px;
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
}

th,
td {
  text-align: center;
  border: 2px solid rgb(0, 0, 0, 0.5);
}

.idColumn {
  width: 5%;
}

.pageTitle {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

.titleContainer {
  /* background-color: rgb(128, 128, 128, 0.5); */
  background-color: lemonchiffon;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.bodyContainer {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.deleteButton {
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(240, 100, 100);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  margin: 5px 10px 5px 10px;
}

.editButton {
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(220, 180, 60);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  margin: 5px 10px 5px 10px;
}

.editAllButton {
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(100, 200, 60);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.dropButton {
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 160px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropButton {
  background-color: #3e8e41;
}

.dropdownContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
  margin: 20px;
  padding-bottom: 40px;
}

.pageList {
  list-style-type: none;
}

.pageItem {
  display: inline;
  border: 0px;
  background-color: rgb(4, 170, 109, 0.3);
  padding: 5px;
}

.pageItem a {
  text-decoration: none;
  color: black;
}

.pageNext {
  display: inline;
  border: 0px;
  background-color: rgb(4, 170, 109, 0.3);
  padding: 5px 10px 5px 10px;
}

.pageNext a {
  text-decoration: none;
  color: black;
}

.pageListContainer {
  display: flex;
  justify-content: center;
}

.actionColumn {
  width: 20%;
}

.disableButton {
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  margin: 5px 10px 5px 10px;
}
