.form-control {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 500px;
}

.form-control label {
  font-weight: 500;
}

.form-radio-group {
  flex-direction: row !important;
  align-items: center !important;
}

.input {
  height: 2px !important;
}

.input-wapper {
  border-width: 2px;
}

.input-wrapper__focus .input-wapper {
  border-color: #3ec6f0 !important;
}

.input-label__focus {
  color: #3ec6f0 !important;
}

.form-button__ok {
  color: #3ec5f0 !important;
}

.form-button__ok:hover {
  background-color: #3ec6f02f !important;
}

.form-button__cancel {
  color: #8391a2 !important;
}

.select {
  padding-top: 10.5px !important;
  padding-bottom: 10.5px !important;
}

.error {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  height: 30px;
}

.error p {
  color: red;
  text-align: end;
  margin: 0;
}
