.dialog {
  min-width: 400px;
}
.title-warning {
  color: #ffc20e;
}
.content {
  color: #000 !important;
  font-size: 1.1rem !important;
  margin-bottom: 0.5rem !important;
}

.button {
  width: 80px;
}

.button-ok:hover {
  background-color: #3ec6f041 !important;
}
