.not-found {
  height: 100vh;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
.not-found h3 {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 700;
}